In [ ]:
# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [15]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
# Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [16]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hii  " + lname + " " + fname)

Input your First Name : Anil Kumar
Input your Last Name : Rao
Hii  Rao Anil Kumar

In [ ]:
#Write a Python program to find the volume of a sphere with diameter 12 cm.

In [18]:
pi = 3.141
2
r= 6.0
3
V= 4.0/3.0*pi* r**3
4
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.608

In [ ]:
#Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [21]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 5,10,20,35,40
List :  ['5', '10', '20', '35', '40']
Tuple :  ('5', '10', '20', '35', '40')

In [ ]:
#Create the below pattern using nested for loop in Python.

In [22]:
n=9;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Write a Python program to reverse a word after accepting the input from the user.word = input("Input a word to reverse: ")

In [29]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: 1,2,3,4,5,6,7,8,9
9,8,7,6,5,4,3,2,1

In [27]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens